body {
    font-family: Trebuchet MS;
    margin: 0;
}

/** Style the header. */
.header {
    padding: 20px;
    text-align: center;
    background: rgb(255, 189, 206);
    color: black;
    border: 3px solid;
}

.header h1 {
    font-size: 60px;
    border-top: 4px dotted #fff;
    border-bottom: 4px dotted #fff;
}

.header p {
    font-size: 20px;
    margin-top: -20px;
    color: #ffffffff;
}

  /* Style the top navigation bar */
.navbar {
    justify-content: center;
    background-color: #333; 
    display: flex; 
    border-radius: 20px;   
    width: fit-content;
    margin: -20px auto;
    padding: 0;
}

.navbar a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 10px 35px; 
    text-decoration: none; 
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: rgb(247, 67, 115); 
    color: black; 
    border-radius: 20px;  
}

.button {
    justify-content: center;
    background-color: #333; 
    display: flex; 
    border-radius: 20px;   
    width: fit-content;
    margin: -20px auto;
    padding: 0;
    margin-top: 150px;
}

.button a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 10px 35px; 
    text-decoration: none; 
}

.button a.right {
    float: right;
}

.button a:hover {
    background-color: rgb(255, 189, 206); 
    color: black; 
    border-radius: 20px;  
}

.container-intro {
    display: flex;
    gap: 20px;
    padding: 45px;
    justify-content: center;
    background-color: rgba(79, 61, 45, 0.838);
    margin-top: 45px;
    border: 3px solid;
}

.intro-block{
    max-width: 500px;
    height: 600px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    margin-left: 200px;
    font-size: 20px;
    background-color: rgb(247, 67, 115);
}

.image-block {              
    width: 500px;
    height: 650px;
}

.image-block img {
    width: 320px;
    height: 420px;
    border-radius: 20px;
    border: 2px solid black;
}

.image-block-2 img {
    width: 325px;
    height: 200px;
    margin-top: 440px;
    margin-left: -520px;
    border-radius: 20px;
    border: 2px solid black;
}

.image-block-3 img {
    width: 400px;
    height: 500px;
    margin-top: 320px;
    margin-left: -420px;
    border-radius: 20px;
    border: 2px solid black;
}

.contact {
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    margin-bottom: -30px;
    border: 2px solid black;
    border-radius: 20px;
}

.container-honors {
    display: flex;
    gap: 20px;
    padding: 45px;
    justify-content: center;
    background-color: rgba(79, 61, 45, 0.838);
    margin-top: 45px;
    border: 3px solid;
}

.honors-block{
    z-index: 1;
    max-width: 400px;
    height: 700px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    margin-right: 0px;
    text-align: left;
    font-size: 20px;
    background-color: rgb(247, 67, 115);
}

.image-honors-block {
    z-index: 0;                 
    width: 1000px;
    height: 750px;
    margin-bottom: 40px;
}

.image-honors-block img {
    width: 1000px;
    height: 750px;
    border-radius: 20px;
    border: 2px solid black;
}

.container-requirements {
    display: flex;
    gap: 20px;
    padding: 45px;
    justify-content: center;
    background-color: rgba(79, 61, 45, 0.838);
    margin-top: 45px;
    border: 3px solid;
}

.seminars {
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 189, 206);
    width: 800px;
    height: 200px;
}

.forum {
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 189, 206);
    width: 800px;
    height: 200px;
}

.high-impact {
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 189, 206);
    width: 800px;
    height: 200px;
}

.container-new-york {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    justify-content: center;
    background-color: rgba(79, 61, 45, 0.838);
    margin-top: 45px;
    margin-bottom: -100px;
    border: 3px solid;
}

.new-york-block{
    display: flex;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    color:#ffffff;
    margin-top: 25px;
}

.new-york-image-container {
    display: flex;
    gap: 40px;
    padding: 45px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 3px solid;
    border-radius: 20px;
}

.new-york-image-1 {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
}

.new-york-image-2 {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
}

.new-york-image-3 {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
}

.new-york-image-4 {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
}

.new-york-image-1 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.new-york-image-2 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.new-york-image-3 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.new-york-image-4 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.container-education {
    display: flex;
    gap: 20px;
    padding: 45px;
    justify-content: center;
    background-color: rgba(79, 61, 45, 0.838);
    margin-top: 45px;
    border: 3px solid;
}

.education-block {
    z-index: 1;
    width: 500px;
    height: 350px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: left;
    font-size: 20px;
    background-color: rgb(255, 251, 252);
}

.image-education-block {
    display: flex;
    gap: 20px;
    flex-direction: column;
    z-index: 0;                 
    width: 600px;
    margin-bottom: 40px;
}

.image-education-block img {
    height: 400px; 
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
}

.button2 {
    justify-content: center;
    background-color: #333; 
    display: flex; 
    border-radius: 20px;   
    width: fit-content;
    margin: -20px auto;
    padding: 0;
    margin-top: 80px;
}

.button2 a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 10px 35px; 
    text-decoration: none; 
}

.button2 a.right {
    float: right;
}

.button2 a:hover {
    background-color: rgb(255, 189, 206); 
    color: black; 
    border-radius: 20px;  
}