body {
    font-family: Trebuchet MS;
    margin: 0;
}

/** Style the header. */
.header {
    max-width: 1500px;
    margin: 5px auto;
    padding: 10px 10px;
    background: linear-gradient(
        160deg,
        rgb(247, 67, 115),
        rgb(255, 189, 206),
        white
    );
    background-size: 300% 300%;
    background-position: 0% 50%;
    border-radius: 30px;
    text-align: center;
    color: white;
    animation: shimmer 7s linear infinite;
}

.header h1 {
    font-size: 60px;
    border-top: 4px dotted #fff;
    border-bottom: 4px dotted #fff;
    
}

@keyframes shimmer {
    to {
        background-position: 200% center;
    }
}

.header p {
    font-size: 20px;
    margin-top: -30px;
    color: #ffffffff;
}

  /* Style the top navigation bar */
.navbar {
    justify-content: center;
    background-color: #333; 
    display: flex; 
    border-radius: 20px;   
    width: fit-content;
    margin: -20px auto;
    padding: 0;
}

.navbar a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 10px 35px; 
    text-decoration: none; 
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: rgb(247, 67, 115); 
    color: black; 
    border-radius: 20px;  
}

.button {
    justify-content: center;
    background-color: #333; 
    display: flex; 
    border-radius: 20px;   
    width: fit-content;
    margin: -20px auto;
    padding: 0;
    margin-top: 150px;
}

.button a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 10px 35px; 
    text-decoration: none; 
}

.button a.right {
    float: right;
}

.button a:hover {
    background-color: rgb(255, 189, 206); 
    color: black; 
    border-radius: 20px;  
}

.container-intro {
    display: flex;
    gap: 20px;
    padding: 45px;
    justify-content: center;
    align-items: center;
    background-color: rgba(79, 61, 45, 0.838);
    margin-top: 45px;
    border: 3px solid;
    background: linear-gradient(
    54deg,
    rgba(171, 160, 150, 0.95),
    rgba(79, 61, 45, 0.95),
    rgba(54, 33, 14, 0.95)
    );
}

.intro-block{
    max-width: 500px;
    height: 600px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(247, 67, 115);
}

.image-block {              
    width: 520px;
    height: 640px;
}

.image-block img {
    width: 480px;
    height: 640px;
    border-radius: 20px;
    border: 2px solid black;
}

.image-block-3 img {
    width: 400px;
    height: 500px;
    margin-top: 320px;
    margin-left: -420px;
    border-radius: 20px;
    border: 2px solid black;
}

.contact {
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 3px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: -30px;
    border: 2px solid black;
    border-radius: 20px;
}

.contact a {
    text-decoration: none;    
    color: rgb(247, 67, 115);            
    font-weight: 1000;
    align-items: center;
    gap: 6px;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.contact a:hover {
    opacity: 0.5;
    transform: translateY(-2px);  /* subtle hover lift */
}

.container-honors {
    display: flex;
    gap: 20px;
    padding: 45px;
    justify-content: center;
    background-color: rgba(79, 61, 45, 0.838);
    margin-top: 45px;
    border: 3px solid;
}

.honors-block{
    z-index: 1;
    max-width: 400px;
    height: 700px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    margin-right: 0px;
    text-align: left;
    font-size: 20px;
    background-color: rgb(247, 67, 115);
}

.image-honors-block {
    z-index: 0;                 
    width: 1000px;
    height: 750px;
    margin-bottom: 40px;
}

.image-honors-block img {
    width: 1000px;
    height: 750px;
    border-radius: 20px;
    border: 2px solid black;
}

.container-requirements {
    display: flex;
    gap: 20px;
    padding: 45px;
    justify-content: center;
    background-color: rgba(79, 61, 45, 0.838);
    margin-top: 45px;
    border: 3px solid;
}

.seminars {
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 189, 206);
    width: 800px;
    height: 200px;
}

.forum {
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 189, 206);
    width: 800px;
    height: 200px;
}

.high-impact {
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 189, 206);
    width: 800px;
    height: 200px;
}

.container-new-york {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    justify-content: center;
    background-color: rgba(79, 61, 45, 0.838);
    margin-top: 45px;
    margin-bottom: 45px;
    border: 3px solid;
}

.new-york-block{
    display: flex;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    color:#ffffff;
    margin-top: 25px;
}

.new-york-image-container {
    display: flex;
    gap: 40px;
    padding: 45px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 3px solid;
    border-radius: 20px;
}

.new-york-image-1 {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
}

.new-york-image-2 {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
}

.new-york-image-3 {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
}

.new-york-image-4 {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
}

.new-york-image-1 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.new-york-image-2 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.new-york-image-3 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.new-york-image-4 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.container-pottery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    justify-content: center;
    background-color: rgb(247, 67, 115);
    margin-top: 45px;
    margin-bottom: -100px;
    border: 3px solid;
}

.pottery-block{
    display: flex;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    color:#ffffff;
    margin-top: 25px;
}

.pottery-image-container {
    display: flex;
    gap: 40px;
    padding: 45px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 3px solid;
    border-radius: 20px;
}

.pottery-image-1 {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
}

.pottery-image-2 {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
}

.pottery-image-3 {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
}

.pottery-image-1 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.pottery-image-2 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.pottery-image-3 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.container-education {
    display: flex;
    gap: 20px;
    padding: 45px;
    justify-content: center;
    background-color: rgba(79, 61, 45, 0.838);
    margin-top: 45px;
    border: 3px solid;
}

.education-block {
    z-index: 1;
    width: 500px;
    height: 350px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: left;
    font-size: 20px;
    background-color: rgb(255, 251, 252);
}

.image-education-block {
    display: flex;
    gap: 20px;
    flex-direction: column;
    z-index: 0;                 
    width: 600px;
}

.image-education-block img {
    height: 400px; 
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
}

.button2 {
    justify-content: center;
    background-color: #333; 
    display: flex; 
    border-radius: 20px;   
    width: fit-content;
    margin: -20px auto;
    padding: 0;
    margin-top: 80px;
}

.button2 a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 10px 35px; 
    text-decoration: none; 
}

.button2 a.right {
    float: right;
}

.button2 a:hover {
    background-color: rgb(255, 189, 206); 
    color: black; 
    border-radius: 20px;  
}

.container-academics-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 45px;
    background-color: rgb(247, 67, 115);
    justify-items: center; /* centers items horizontally */
    align-items: start;
    margin: 45px auto;
    border: 3px solid;
}

.class-1-block {
    font-size: 20px;
}

.class-1-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 600px;
}

.class-1-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.class-title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: -10px;
}

.container-academics-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 45px;
    background-color: rgb(255, 189, 206);
    justify-items: center; 
    align-items: start;
    margin: 45px auto;
    border: 3px solid;
}

.class-2-block {
    font-size: 22px;
    padding: 30px;
}

.class-2-image {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: 2px solid black;
}

.container-academics-3 {
    display: flex;
    flex-direction: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 45px;
    background-color: rgb(247, 67, 115);
    justify-items: center; 
    align-items: start;
    margin: 45px auto;
    border: 3px solid;
}

.class-3-block {
    font-size: 20px;
}

.class-3-image {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.class-3-image img {
    max-width: 450px;
    height: 320px;
    object-fit: cover;
}

.container-academics-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 45px;
    background-color: rgb(255, 189, 206);
    justify-items: center; 
    border: 3px solid;
}

.class-4-block {
    margin-left: -100px;
    font-size: 20px;
}

.class-4-image {
    display: column;
    gap: 15px;
    margin-top: 45px;
    margin-left: -100px;
}

.class-4-image img {
    max-width: 450px;
    height: 550px;
    object-fit: cover;
}

.container-academics-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 45px;
    background-color: rgb(247, 67, 115);
    justify-items: center; 
    align-items: start;
    margin: 45px auto;
    border: 3px solid;
}

.class-5-block {
    font-size: 22px;
    padding: 30px;
}

.class-5-image {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: 2px solid black;
}

.container-academics-6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 45px;
    background-color: rgb(255, 189, 206);
    justify-items: center; 
    border: 3px solid;
}

.class-6-block {
    margin-left: -100px;
    font-size: 20px;
}

.class-6-image {
    display: column;
    gap: 25px;
}

.class-6-image img {
    height: 300px;
    max-width: 500px;
    object-fit: cover;
}

.container-academics-7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 45px;
    margin-top: 45px;
    background-color: rgb(247, 67, 115);
    justify-items: center; 
    border: 3px solid;
}

.class-7-block {
    margin-left: 50px;
    font-size: 20px;
}

.class-7-image {
    display: column;
    gap: 25px;
}

.class-7-image img {
    height: 500px;
    max-width: 800px;
    object-fit: cover;
}

.prague-container {
    padding: 45px;
    background-color: rgba(79, 61, 45, 0.838);
    border: 3px solid;
    margin-top: 45px;
}

.prague-classes-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 45px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px;
    border: 3px solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.prague-row {
    display: flex;
    gap: 40px;
    align-items: flex-start; /* block and PDF side by side */
    justify-content: center;
}

.prague-class-block-1 {
    width: 300px;
    height: 450px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: left;
    font-size: 20px;
    background-color: rgb(247, 67, 115);
}

.prague-class-image-1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 900px;
    height: 500px;
    margin-bottom: -100px;
}

.prague-class-block-1-1 {
    width: 300px;
    height: 350px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: left;
    font-size: 20px;
    background-color: rgb(255, 189, 206);
}

.prague-class-image-1 img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: 2px solid black;
}

.prague-classes-container-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 45px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px;
    border: 3px solid;
    border-radius: 20px;
    background-color: rgb(255, 189, 206);
}

.prague-class-block-2 {
    width: 300px;
    height: 450px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    background-color: rgb(247, 67, 115);
}

.prague-class-block-2-2 {
    width: 200px;
    height: 220px;
    padding: 25px;
    margin-left: 120px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: left;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

.prague-class-image-2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 900px;
    height: 500px;
    margin-bottom: -250px;
}

.prague-class-image-2 img{
    width: 220px;
    height: 270px;
    border-radius: 10px;
    border: 2px solid black;
}

.trips-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 45px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 3px solid;
    border-radius: 20px;
    background-color: rgb(247, 67, 115);
}

.trips-block {
    z-index: 1;
    width: 300px;
    height: 350px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: left;
    font-size: 20px;
    background-color: rgb(251, 251, 251);
}

.trips-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;   
    justify-content: center;
    width: 100%;  
}

.trips-images img {
    height: 300px; 
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
}

.class-title-1 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 20px;
}

.prague-paper-container {
    padding: 45px;
    background-color: rgba(79, 61, 45, 0.838);
    border: 3px solid;
    margin-top: 45px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.prague-paper-pdf {
    width: 900px;
    height: 500px;
    margin-bottom: 10px;
}

.ireland-container {
    padding: 45px;
    background-color: rgba(79, 61, 45, 0.838);
    border: 3px solid;
    margin-top: 45px;
}

.ireland-classes-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 45px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px;
    border: 3px solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.ireland-row {
    display: flex;
    gap: 40px;
    align-items: flex-start; /* block and PDF side by side */
    justify-content: center;
}

.ireland-class-block-1 {
    width: 300px;
    height: 500px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: left;
    font-size: 20px;
    background-color: rgb(247, 67, 115);
}

.ireland-class-image-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 900px;
    height: 500px;
    margin-bottom: -100px;
}

.ireland-class-image-1 img{
    width: 430px;
    height: 270px;
    border-radius: 10px;
    border: 2px solid black;
}

.ireland-classes-container-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 45px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px;
    border: 3px solid;
    border-radius: 20px;
    background-color: rgb(255, 189, 206);
}

.ireland-class-block-2 {
    width: 300px;
    height: 450px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

.ireland-class-block-2-2 {
    width: 200px;
    height: 220px;
    padding: 25px;
    margin-left: 120px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: left;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

.ireland-class-image-2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 900px;
    height: 500px;
    margin-bottom: -250px;
}

.ireland-class-image-2 img{
    width: 220px;
    height: 270px;
    border-radius: 10px;
    border: 2px solid black;
}

.ireland-paper-container {
    padding: 45px;
    background-color: rgba(79, 61, 45, 0.838);
    border: 3px solid;
    margin-top: 45px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.ireland-paper-pdf {
    width: 900px;
    height: 500px;
    margin-bottom: 10px;
}

.research-container {
    padding: 45px;
    background-color: rgba(79, 61, 45, 0.838);
    border: 3px solid;
    margin-top: 45px;
}

.research-classes-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 45px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px;
    border: 3px solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.research-row {
    display: flex;
    gap: 40px;
    align-items: flex-start; 
    justify-content: center;
}

.research-class-block-1 {
    width: 1300px;
    height: 500px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: left;
    font-size: 22px;
    background-color: rgb(255, 189, 206);
}

.newyork-paper-container {
    padding: 45px;
    background-color: rgb(255, 189, 206);
    border: 3px solid;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.newyork-paper-pdf {
    width: 900px;
    height: 500px;
    margin-bottom: 10px;
}

.final-paper-container {
    padding: 45px;
    background-color: rgba(79, 61, 45, 0.838);
    border: 3px solid;
    margin-top: 145px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.final-paper-pdf {
    width: 900px;
    height: 500px;
    margin-bottom: 10px;
}



