body {
    font-family: times_new_roman;
    margin: 0;
}

/** Style the header. */
.header {
    padding: 20px;
    text-align: center;
    background: rgb(252, 129, 162);
    color: black;
}

.header h1 {
    font-size: 60px;
    border-top: 4px dotted #fff;
    border-bottom: 4px dotted #fff;
}

.header p {
    font-size: 20px;
    margin-top: -20px;
    color: #ffffffff;
}

  /* Style the top navigation bar */
.navbar {
    justify-content: center;
    background-color: #333; /* Dark background color */
    display: flex; 
    border-radius: 21px;   
    width: fit-content;
    margin: -20px auto;
    padding: 0;
}

.navbar a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 10px 35px; 
    text-decoration: none; 
}

.navbar a.right {
    float: right; /* Float a link to the right */
}

.navbar a:hover {
    background-color: rgb(247, 67, 115); /* Grey background color */
    color: black; /* Black text color */
    border-radius: 21px;  
}

.container-intro {
    display: flex;
    gap 20px;
    padding: 45px;
    justify-content: center;
    background-color: rgba(193, 165, 139, 0.838);
    margin-top: 45px;
    border: 5px solid;
    border-radius: 20px
}

.intro-block{
    z-index: 1;
    max-width: 400px;
    padding: 30px;
    border-radius: 20px;
    margin-right: -70px;
    margin-top: 100px;
    text-align: left;
    background-color: rgb(247, 67, 115);
}

.image-block {
    z-index: 0;                 /* behind the text block */
    width: 300px;
    border-radius 20px;
    margin-bottom: 40px;
}

.image-block img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}



